body{
    background-color: skyblue;
   background-size:contain;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
     font-family: "Arial", sans-serif;
}

.login-box {
  text-align: center;
  padding: 20px;
}

.login-box label,
.login-box input,
.login-box button {
  display: block;
  margin-bottom: 10px;
     margin-top: 10px;
 font-family: "Arial", sans-serif;

}


#username,
#password {
  padding: 15px;
  border-radius: 100px;

}


.center-button {
  display: block;
  margin: 0 auto;
    font-size: medium;
}

#metin {
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center-button {
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center-button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.center-button:hover {
  background-color: #0056b3;
}



.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  color: black; /* Gri renk */
  padding: 10px 0;
    font-size: large;
    font-style: italic;
    font-family: "Arial", sans-serif;

}

#username,
#password {
  border-radius: 100px; /* Köşeleri daha küçük yapın */
  border: 1px solid #ccc; /* Çizgiyi tekrar ekleyin ve rengini ayarlayın */
  padding: 10px; /* Daha küçük iç içe geçme alanı */
}



